<h2 class="page-header"> Edit Book </h2>
<!-- We are going to be uploading a JSON string which contains the image-->
<form action="/books/<%= book.id %>?_method=PUT" method="POST">
	<%- include('_form_fields')%>
	<a href="/books">Cancel</a>
	<button type="submit">Update</button>
</form>