<h2 class="page-header"> New Book </h2>
<!-- We are going to be uploading a JSON string which contains the image-->
<form action="/books" method="POST">
	<%- include('_form_fields')%>
	<a href="/books">Cancel</a>
	<button type="submit">Create</button>
</form>