<!-- ?_method is defining a query which is defined in methodOverride 
		We are essentially overriding the POST request wiht DELETE request-->
<form method="POST" action="<%= url %>?_method=DELETE">
	<button class="btn btn-danger" type="submit">Delete</button>
</form>